{% extends "shop/base.html" %}
{% block title %}Kontakt – Coffee Shop{% endblock %}
{% block content %}
<a class="back" href="/">← Zurück</a>
<h1>Kontakt</h1>
<div class="contact-info">
    <p>Coffee Shop GmbH<br>
    Musterstraße 1<br>
    12345 Musterstadt</p>
    <p>Tel: +49 123 456789<br>
    E-Mail: <a class="mail" href="mailto:info@coffeeshop.example">info@coffeeshop.example</a></p>
    <p>Öffnungszeiten:<br>
    Mo–Fr: 07:00–19:00 Uhr<br>
    Sa: 08:00–18:00 Uhr<br>
    So: 09:00–17:00 Uhr</p>
</div>
{% endblock %}